.topnav {
  overflow: hidden;
  background-color: #6ac76a;
  z-index: 3;
}

.topnav a,
.topnav .menu-item {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .icon-search {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-contacts {
  display: none;
  position: absolute;
  background-color: #6ac76a;
  color: blue;
  width: 200px;
  box-shadow: 0px 12px 16px 12px rgba(0, 0, 0, 0.5);
  z-index: 25;
}

.dropdown-content-contacts span {
  display: block;
  padding-left: 1rem;
  border-top: 1px solid #74f596;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(90, 90, 196);
}

.dropdown-content-contacts a {
  float: none;
  color: rgb(253, 253, 253);
  font-weight: bold;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  text-align: center;

}

.dropbtn-category {
  display: none;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-contacts {
  display: block;
}


@media screen and (max-width: 600px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn,
  .topnav .menu-item:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    max-height: 30%;
  }

  .topnav .icon-search {
    display: block;
  }
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a,
.topnav.responsive .menu-item {
  float: none;
  display: block;
  text-align: left;
}

.topnav.responsive .dropdown {
  float: none;
}

.topnav.responsive .dropdown-content {
  position: relative;
}

.topnav.responsive .dropdown-content-contacts {
  position: relative;
}

.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 100%;
  height: 100%;
}

.footer .dropdown {
  width: 100%;
  height: 100%;
}

.footer #btn-search,
.footer #btn-category {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: #6ac76a;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.hidedElement {
  display: none;
}

.visibleElement {
  display: block;
}